.section {
  margin: 15px;
  background-color: $white;
  color: $gray-main-text;
  font-size: $header-font-size;
  box-shadow: 0 0 1em $gray;

  &__header {
    font-size: $header-font-size;
    padding: 15px;
    border-bottom: $border;
    text-transform: uppercase;
    font-weight: $font-semibold;
  }

  &__dates {
    padding: 15px;
    border-bottom: $border;
    @include flex(row, nowrap, center, center);
  }

  &__statistics {
    margin: 30px;
    font-size: $header-font-size;
    @include flex(row, wrap, center, space-around);
  }
}

.dates {
  @include flex(row, nowrap, center, center);
  border: $border;
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
  font-size: $paragraph-font-size;

  &:hover {
    transition: $transition;
    color: $black;
    border: 1px solid $black;
  }

  &__date-from {
    padding-right: 50px;
    border-right: $border;
  }

  &__date-to {
    padding-right: 50px;
    padding-left: 10px;
  }
}

.statistics {
  &__item {
    border-bottom: $border;
    font-weight: $font-semibold;
    text-align: left;
    line-height: 30px;
    width: 300px;
    margin: 30px;
    flex: 1 0 40%;
  }

  &__value {
    font-weight: $font-normal;
    color: $black-light;
    float: right;
  }
}
