.section {
  background-color: $white;
  color: $gray-main-text;
  font-size: $header-font-size;
  box-shadow: 0 0 1em $gray;

  &__header {
    font-size: $header-font-size;
    padding: 15px;
    border-bottom: $border;
    text-transform: uppercase;
    font-weight: $font-semibold;
  }

  &__box {
    padding: 15px;
    border-bottom: $border;
    @include flex(row, nowrap, center, center);

    &--without-border {
      border: none;
    }
  }

  &__statistics {
    margin: 30px;
    font-size: $header-font-size;
    @include flex(row, wrap, center, center);
  }

  &__chart {
    max-width: 660px;
    margin: 20px auto;
    text-align: center;
  }

  &__table {
    margin: 20px auto;
    text-align: center;
  }
}

.dates {
  @include flex(row, nowrap, center, center);
  border: $border;
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
  font-size: $paragraph-font-size;

  &:hover {
    transition: $transition;
    color: $black;
    border: 1px solid $black;
  }

  &__date-from {
    padding-right: 50px;
    border-right: $border;
  }

  &__date-to {
    padding-right: 50px;
    padding-left: 10px;
  }
}

.statistics {
  &__item {
    border-bottom: $border;
    font-weight: $font-semibold;
    text-align: left;
    line-height: 30px;
    max-width: 300px;
    margin: 30px;
    flex-basis: 50%;
    flex-grow: 1;

    @media (min-width: 1400px) {
      max-width: 400px;
      margin: 30px 50px;
    }
  }

  &__value {
    font-weight: $font-normal;
    color: $black-light;
    float: right;
  }
}

.chart {
  &__header {
    padding-top: 30px;
    text-align: left;
    font-size: $header-font-size;
    font-weight: $font-semibold;
    line-height: 30px;
  }
}
