.sidebar {
  position: fixed;
  top: 0;
  width: 190px;
  right: auto;
  height: 100%;
  background: $sidebar-color;
  z-index: 5;
  transition: $transition;

  &__horizontal-bar {
    margin: 25px 1px;
    border: 0.3px solid $black-light;
  }
}

.sidebar-top {
  height: 60px;
  @include flex(row, nowrap, center, flex-start);

  &__logo {
    flex-grow: 2;
    text-align: center;
  }

  &__hamburger {
    flex-grow: 1;
    font-size: $header-font-size * 1.5;
    color: #818181;
    text-align: center;

    @media (min-width: 769px) {
      display: none;
    }
  }
}

.sidebar-menu {
  height: calc(100vh - 60px);

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    height: 40px;
    font-size: $header-font-size;
  }

  &__link {
    height: 40px;
    text-decoration: none;
    color: #818181;
    display: block;
    line-height: 40px;
    padding-left: 25px;

    &:hover {
      background: $black-light;
      color: $gray-light;

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 5px;
        height: 40px;
        background: $orange;
      }
    }
  }

  &__title {
    margin-left: 20px;
    font-size: $paragraph-font-size;
  }

  .sidebar-manager {
    &__header {
      color: #808080;
      font-size: $paragraph-font-size;
      font-weight: $font-semibold;
      letter-spacing: -0.8px;
      margin-left: 25px;
      margin-bottom: 5px;
    }

    &__avatar {
      @include flex(row, nowrap, center, flex-start);
      padding: 10px 0 10px 25px;
      position: relative;

      &:hover {
        background: $black-light;
      }
    }

    &__photo {
      &:before {
        position: absolute;
        content: "";
        top: 10px;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $green;
      }
    }

    &__name {
      color: $blue;
      margin-left: 15px;
      font-size: $paragraph-font-size;
    }
  }
}

.active-link {
  background: $black-light;
  color: $gray-light;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 5px;
    height: 40px;
    background: $orange;
  }
}

@media (max-width: 768px) {
  .sidebar--narrow {
    width: 60px;

    .sidebar-top__logo,
    .sidebar-menu__title,
    .sidebar-manager__header,
    .sidebar-manager__name {
      display: none;
    }

    .sidebar-manager {
      &__avatar {
        padding: 10px 0 10px 10px;
      }

      &__photo {
        &:before {
          left: 40px;
        }
      }
    }
  }
}
