.topbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  width: calc(100% - 190px);
  background: $white;
  border-bottom: 1px solid $gray;

  &__list {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;

    @include flex(row, nowrap, center, flex-end);
  }

  &__item {
    display: inline-block;
    height: 100%;
    border-left: 1px solid $gray;
    position: relative;
  }

  &__text {
    padding: 15px;
    font-weight: $font-bold;

    &--small {
      font-weight: $font-light;
      font-size: 13px;
      color: $blue;
    }
  }
}
