body {
  font-size: $paragraph-font-size;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: #818181;

  &:hover {
    color: $orange;
  }
}

.main-content {
  background-color: $gray-light;
  margin-top: 60px;
}

.wrapper {
  display: grid;
  grid-template-columns: 190px repeat(10, [col-start] 1fr);
  // grid-template-rows: minmax(60px, auto);
}

.top {
  grid-column: col-start 1 / span 10;
  // grid-row: 1;
}

.sidebar {
  grid-column: 1 / span 1;
  // grid-row: 1 / span 2;
}

.main-content {
  grid-column: col-start 1 / span 10;
}
