body {
  font-size: $paragraph-font-size;
  font-family: $main-font;
  background-color: $gray-light;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #818181;

  &:hover {
    color: $orange;
  }
}

.main-content {
  transition: $transition;
  margin: 75px 15px 15px 205px;
}

@media (max-width: 768px) {
  .main-content--wide {
    transition: $transition;
    margin: 75px 15px 15px 75px;
  }
}
