/* Colors */
$sidebar-color: #191919;
$black: #000000;
$black-light: #333333;
$grey-strong: #979797;
$grey-dark: #bababa;
$grey: #e3e3e3;
$grey-light: #f5f5f2;
$orange-dark: #f58220;
$orange: #ffa200;
$green: #04ae00;
$green-pastel: #74b67a;
$green-pastel-light: #96cc9b;
$red-pastel: #de5252;
$red-pastel-light: #ec7171;
$blue: #56819f;
$red: #ff0000;
$white: #ffffff;

/* Font sizes */
$header-font-size: 16px;
$paragraph-font-size: 14px;

/* Fonts */
$main-font: "Roboto", sans-serif;
