.links-table {
  margin: 20px auto;
  width: 60%;
  border-collapse: collapse;

  &__row {
    line-height: 60px;
    border-top: $border;
    border-bottom: $border;
    @include flex(row, nowrap, stretch, flex-start);

    &:hover {
      background-color: $gray-light;

      i {
        display: inline;
      }
    }
  }

  &__link-name {
    font-weight: $font-semibold;
    flex-basis: 40%;
    text-align: left;
    padding-left: 20px;
  }

  &__link-address {
    flex-basis: 40%;

    a {
      color: $blue;

      &:hover {
        color: $orange;
      }
    }
  }

  &__icons {
    flex-basis: 20%;

    i {
      margin: 10px;
      display: none;
      cursor: pointer;

      &:hover {
        color: $orange;
      }
    }
  }
}
