.links-table {
  margin: 20px auto;
  width: 95%;
  border-collapse: collapse;

  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 1024px) {
    width: 60%;
  }

  &__row {
    line-height: 60px;
    border-top: $border;
    @include flex(column, wrap, center, flex-start);

    @media (min-width: 570px) {
      @include flex(row, nowrap, stretch, flex-start);
    }

    &:hover {
      background-color: $gray-light;

      i {
        display: inline;
      }
    }

    &--last {
      border-bottom: $border;
    }
  }

  &__link-name {
    font-weight: $font-semibold;
    flex-basis: 40%;
    text-align: left;
    padding-left: 20px;
  }

  &__link-address {
    flex-basis: 40%;
    text-align: left;

    a {
      color: $blue;

      &:hover {
        color: $orange;
      }
    }
  }

  &__icons {
    flex-basis: 20%;

    i {
      margin: 10px;
      display: none;
      cursor: pointer;

      &:hover {
        color: $orange;
      }
    }
  }
}
